<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <p class="copyright">Copyright &copy; Ghostly Swoosh 2018 - {{ site.time | date: '%Y' }}</p>
                <p class="copyright">We are not affiliated with Universal Parks & Resorts, Comcast, NBCUniversal,
                        or any of the entities mentioned herein.</p>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/ghostly_swoosh" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                            <a href="https://instagram.com/ghostlyswooshusf" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="/privacy-policy">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/terms-and-conditions">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>