@import url('https://fonts.googleapis.com/css?family=Chivo:400,900');

.waitTime {
	height: 15vh;
}

.view {
    background-image: url('/images/fnfmain.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}

.homehero {
	height: 85vh;
}

.ridehero {
	height: 40vh;
}

.gringotts {
	background-image: url('/images/rides/gringotts2.jpg')
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
  
.top-nav-collapse {
    background-color: #424f95 !important;
  } 

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }