---
name: Hollywood Rip Ride & Rockit
type: ride
layout: ride
imagePrefix: hrrr
numPics: 8
area: Production Central
marketingp: What’s the only thing better than music? A roller coaster! Universal decided to combine the two and got Hollywood Rip Ride and Rocket. Strap in and choose your song and be taken skyward up the 167 ft vertical lift hill and then into a wild series of elements including a huge non-inverting loop. Are you ready to rock it?
blurb: Listen to your choice of music while you ride an exciting coaster!
technicaldesc: An intense roller coaster featuring a vertical lift, a non-inverting loop and several over-banked turns.
---

<div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Themed Description</h2>
                <p>
                    {{page.marketingp}}
                </p>
                <h2>Technical Description</h2>
                <p>
                    {{page.technicaldesc}}
                </p>
                <h2>Ride Stats</h2>
                <ul>
                    <li><strong>Length</strong> • 3800 ft</li>
                    <li><strong>Height</strong> • 167 ft</li>
                    <li><strong>Speed</strong> • 65 mph</li>
                    <li><strong>Manufacturer</strong> • Maurer Rides</li>
                </ul>
                
            </div>
            <div class="col-md-1">
                
            </div>
            <div class="col-md-4">
                <h2>Current Wait Time</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Quick Facts</h2>
                <p>
                    <ul>
                        <li>Travels into Citywalk</li>
                        <li>Currently the tallest coaster at the Universal Orlando resort.</li>
                        <li>Replaced a boneyard full of props and past attractions.</li>
                        <li>Has a secret song list, to access press and hold the ride logo on the touchpad for a few seconds and enter the code that corresponds to the song you want.</li>
                    </ul>
                </p>
                <h2>Regular Song List</h2>
                <p>
                    No need to worry about a secret menu, select from these great tracks!
                    <ul>                                                        
                        <li>“Born to Be Wild” – Hinder</li>
                        <li>“Bring Me to Life” – Evanescence</li>
                        <li>“Gimme All Your Lovin’” – ZZ Top</li>
                        <li>“Kickstart My Heart” – Motley Crue</li>
                        <li>“Paralyzer” – Finger Eleven</li>
                        <li>“Rollin’” – Limp Bizkit</li>
                        <li>“Don’t Phunk With My Heart” – Black Eyed Peas</li>
                        <li>“Insane in the Brain” – Cypress Hill</li>
                        <li>“Pump It” – Black Eyed Peas</li>
                        <li>“Rock Star” – N.E.R.D.</li>
                        <li>“Sabotage” – Beastie Boys</li>
                        <li>“Stronger” – Kanye West</li>
                        <li>“Busy Child” – The Crystal Method</li>
                        <li>“Harder Better Faster Stronger” – Daft Punk</li>
                        <li>“Intergalactic” – Beastie Boys</li>
                        <li>“Keep Hope Alive” – The Crystal Method</li>
                        <li>“Le Disko” – Shiny Toy Guns</li>
                        <li>“Pump Up the Volume” – MARRS</li>
                        <li>“Bad Girls” – Donna Summer</li>
                        <li>“Glamorous” – Fergie</li>
                        <li>“Hella Good” – No Doubt</li>
                        <li>“I Will Survive” – Gloria Gaynor</li>
                        <li>“That’s the Way (I Like It)” – KC and the Sunshine Band</li>
                        <li>“U Can’t Touch This” – MC Hammer</li>
                        <li>“All Night Long” – Montgomery Gentry</li>
                        <li>“Guitars, Cadillacs” – Dwight Yoakam</li>
                        <li>“I Can Sleep When I’m Dead” – Jason Michael Carroll</li>
                        <li>“Living in Fast Forward” – Kenny Chesney</li>
                        <li>“Midnight Rider” – The Allman Brothers</li>
                        <li>“The Devil Went Down to Georgia” – The Charlie Daniels Band</li>
                    </ul>
                </p>
                <h2>Secret Song List</h2>
                <p>
                    Looking for something different? Try these songs! But be warned, you won't be able to buy your on ride video if you use these songs.
                    <ul>
                        <li>101 – Temples of Syrinx – Rush</li>
                        <li>102 - Smithereens - Blues Before&After</li>
                        <li>103 – Break On Through – The Doors</li>
                        <li>104 – Crocodile Rock – Elton John</li>
                        <li>105 - Do It Again - Steely Dan</li>
                        <li>106 - Candlebox - Don’t You</li>
                        <li>107 – Drivin’ Rain – Gov’t Mule</li>
                        <li>108 – 8 Miles High – The Byrds</li>
                        <li>109 - Fantasy - Aldo Nova</li>
                        <li>110 - American Hi-Fi - I’m A Fool</li>
                        <li>112 – Freebird – Skynyrd</li>
                        <li>113 - Immigrant Song - Led Zeppelin</li>
                        <li>114 - Just Because - Jane's Addiction</li>
                        <li>115 - Live - Lenny Kravitz</li>
                        <li>116 - Mexicola - Queens / Stone Age</li>
                        <li>121 - Tom Petty-Runnin Down a Dream</li>
                        <li>122 - Rolling Stones - Start Me Up</li>
                        <li>123 - Stockholm Syndrom – Muse</li>
                        <li>124 - Diary of Jane - Breaking Benjamin</li>
                        <li>127 - Urgent - Foreigner</li>
                        <li>128 - Vertigo - U2</li>
                        <li>129 - Wheel in the Sky - Journey</li>
                        <li>130 - Won't Get Fooled Again-The Who</li>
                        <li>131 – Klein Mandelbrot - aka: Blue Man Group: The Ride</li>
                        <li>132 – Drumbone – Blue Man Group</li>
                        <li>301 - Float On – Modest Mouse</li>
                        <li>302 - I Want You Back - Jackson Five</li>
                        <li>303 - In My Pocket - Cat Empire</li>
                        <li>304 - Still Rock ‘n Roll To Me - Billy Joel</li>
                        <li>306 - Lose Yourself – Eminem</li>
                        <li>307 - Ride Like The Wind - Christopher Cross</li>
                        <li>308 - Run to You - Bryan Adams</li>
                        <li>309 - Save Room - John Legend</li>
                        <li>310 - Vogue - Madonna</li>
                        <li>311 - You Make Lovin Fun - Fleetwood Mac</li>
                        <li>312 - My Everything – Barry White</li>
                        <li>504 - Smokin' Gun - Robert Cray</li>
                        <li>506 - The Thrill Is Gone - BB King</li>
                        <li>507 - Who Did You Think I Was - John Mayer Trio</li>
                        <li>508 - Pivot – Dry</li>
                        <li>701 - Cyanide – Metallica</li>
                        <li>702 - Endangered Species - Flaw</li>
                        <li>703 - For Whom The Bell Tolls - Metallica</li>
                        <li>704 - Forever Down-Black Label Society</li>
                        <li>705 - How Heavy This Axe - The Sword</li>
                        <li>706 - Just One Fix - Ministry</li>
                        <li>707 - Know your Enemy - Rage Against the Machine</li>
                        <li>708 - Lets Go – Ministry</li>
                        <li>709 - Mouth For War - Pantera</li>
                        <li>710 - Painkiller - Judas Priest</li>
                        <li>711 - Paranoid - Black Sabbath</li>
                        <li>712 - Temptation's Wings - Down</li>
                        <li>713 - Wicker Man - Iron Maiden</li>
                        <li>714 - Unreal - Ill Nino</li>
                        <li>715 - Wake Up Dead - Megadeth</li>
                        <li>716 - We Call This Mutha Revenge - Suicidal Tendencies</li>
                        <li>718 - You've Got Another Thing Comin - Judas Priest</li>
                        <li>782 - Monster - Skillet</li>
                        <li>901 - Movin Right Along - Muppets</li>
                        <li>902 - Rainbow Connection-Muppets</li>
                        <li>903 - Your Attitude Towards Cuttlefish - Paper Moon</li>
                        <li>904 - Night on Bald Mountain - Modest Mussorgsky</li>
                    </ul>
                </p>
                <h2>Photos</h2>
                {% if page.numPics == 0 %}
                    <p>We're out gathering pictures now! But none right now.</p> 
                {% else %}
                    <div class="container">
                        <div class="row">
                            {% for i in (1..page.numPics) %}
                                <div class="col-md-6 my-3">
                                    <a href="{{site.baseurl}}/images/rides/{{ page.imagePrefix }}{{i}}.jpg" data-toggle="lightbox" data-gallery="{{page.name}}">
                                        <img class="img-fluid" src="{{site.baseurl}}/images/rides/{{ page.imagePrefix }}{{i}}.jpg" alt="{{page.name}}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div> 
                {% endif %}
                <h2>Videos</h2>
                <p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 my-3">
                                <a href="https://www.youtube.com/watch?v=Js_Jv5EzOv0" data-toggle="lightbox" data-gallery="{{page.name}}videos">
                                    <img class="img-fluid" src="https://img.youtube.com/vi/Js_Jv5EzOv0/0.jpg" alt="{{page.name}}">
                                </a>
                            </div>
                            <div class="col-md-6 my-3">
                                <a href="https://www.youtube.com/watch?v=OPdbdjctx2I" data-toggle="lightbox" data-gallery="{{page.name}}videos">
                                    <img class="img-fluid" src="https://img.youtube.com/vi/OPdbdjctx2I/0.jpg" alt="{{page.name}}">
                                </a>
                            </div>
                            <div class="col-md-6 my-3">
                                <a href="https://www.youtube.com/watch?v=DqrI86p5H30" data-toggle="lightbox" data-gallery="{{page.name}}videos">
                                    <img class="img-fluid" src="https://img.youtube.com/vi/DqrI86p5H30/0.jpg" alt="{{page.name}}">
                                </a>
                            </div>
                        </div>
                    </div> 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Updates, News, Articles and Rumors</h2>
                {% assign psize = site.categories.hrrr | size %}
                {% if psize == 0 %} 
                    <p>No posts ... yet!</p>
                {% endif %}
                <div class="row">
                    {% for post in site.categories.hrrr %}
                        <div class="col-md-6">
                            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
                            <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                            <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>