<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="container-fluid">
    <header>
      <div class="header-inner">
        <nav class="navbar navbar-expand-lg">
          <router-link class="navbar-brand" to="/">{{ site.title }}</router-link>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <router-link class="nav-link" to="/areas">Areas</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/rides">Rides</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/shows">Shows</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/dining">Dining</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/shopping">Shopping</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/forum">Forum</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/about">About</router-link>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="main">
      {{ content }}
    </div>
    <footer>
      <div class="footer-inner">
        <p>Made, with ❤ in D.C.</p>
      </div>
    </footer>
  </div>
  <script src="{{ site.baseurl }}/js/bundle.js"></script>
  <script src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.bundle.min.js"></script>
</body>

</html>