<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <header>
    <div class="header-inner d-flex justify-content-between">
      <a href="/" class="site-title"><h1 class="ghostly">Ghostly</h1>
        <h1 class="swoosh">Swoosh</h1></a>
      <nav>
        <a href="#" class="menu-icon"><ion-icon name="menu"></ion-icon></a>
        <ul>
          <li>
            <a href="/areas/">Areas</a>
          </li>
          <li>
            <a href="/rides/">Rides</a>
          </li>
          <li>
            <a href="/shows/">Shows</a>
          </li>
          <li>
            <a href="/dining/">Dining</a>
          </li>
          <li>
            <a href="/shopping/">Shopping</a>
          </li>
          <li>
            <a href="/forum/">Forum</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
        </ul>
      </nav>
    </div>
    <footer>
      
    </footer>
  </div>
  <script src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
</body>

</html>