<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top">
    <!-- Navigation -->
    {% include nav.html %}
    <header class="masthead" style="background-image: url(../images/fnfmain.jpg)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-4">
                    <div class="intro-text">
                        <div class="intro-lead-in">Fast and Furious: Supercharged</div>
                        <div class="intro-heading text-uppercase">The newest ride at Universal Studios Florida. Check
                            out our <a href="/rides/fast-and-furious">ride page</a> for this awesome new adventure and
                            read our in depth review!</div>
                    </div>
                </div>
                <div class="col-md-7">

                </div>
            </div>

        </div>
    </header>
    <main>
        {{ content }}
    </main>
    <footer class="footer">
        {% include footer.html %}
    </footer>
    </div>
    <script src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
    <script src="{{ site.baseurl }}/js/home.js"></script>
</body>

</html>