---
layout: homepage
---

<div>
    <div>
        <div>Fast and Furious: Supercharged</div>
        <div>The newest ride at Universal Studios Florida. Check out our <a href="/rides/fast-and-furious">ride page</a> for this awesome new adventure and read our in depth review!</div>
    </div>
</div>
<div>
    <div>
        <div>
            <div>
                Fast and Furious
            </div>
            <div>
                25 minutes
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>