---
layout: page
---
<div class="picture-header row">
    <div class="col-third header-text">
            <h1>{{page.name}}</h1>
            <h2>{{page.tagline}}</h2>
    </div>
</div>
<div class="basicinfo-wait row">
    <div class="col-23">
        {{page.basicinfo}}
    </div>
    <div class="col-13">
        <div class="current-wait">
            <img src="wait-time-x" alt="Current Wait Time for {{page.name}}: 10 minutes" />
        </div>
        <div class="wait-by-hour">
            <h3>Wait Time by Hour</h3>
        </div>
    </div>
</div>
<div class="media row">
    <div class="col media"></div>
</div>
<div class="updates row">
    <div class="col updates"></div>
</div>
<div class="info row">
    <div class="col info"></div>
</div>
