---
layout: default
---

<header class="masthead" style="background-image: url('../images/rides/cover/{{page.imagePrefix}}.jpg')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-4">
                <div class="intro-text">
                    <div class="intro-heading text-uppercase">{{ page.name }}</div>
                    <div class="intro-lead-in">{{page.blurb}}</div>
                </div>
            </div>
            <div class="col-md-7">

            </div>
        </div>
    </div>
</header>

<main style="margin-top: 20px;">
    {{ content }}
</main>