---
layout: page
---
<div class="picture-header row">
    <div class="col-third header-text">
            <h1>{{page.name}}</h1>
    </div>
</div>
<div class="basicinfo-rides row">
    <div class="col-23">
    </div>
    <div class="col-13">
        <div class="rides">
            <!--For each ride in area - listed in front matter? Dynamically figure it out?-->
        </div>
    </div>
</div>
<div class="media row">
    <div class="col media"></div>
</div>
<div class="updates row">
    <div class="col updates"></div>
</div>